h1 {
    text-align: center;
}

#title {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 130%;
    padding: 10px;
}

#candidate-selection {
    text-align: center;
}

#candidate-selection select {
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 3%;
    background-color: lightgrey;
    border-radius: 0.5em;
    font-size: 110%;
}